.jumbotron {
    background-color: var(--middle-grey) !important;
}

.pageHeader {
    color: var(--light-green);
    font-weight: 100 !important;
}

.icon {
    width: 1.8em;
    height: 1.8em;
    margin-right: 20px;
}

.text {
    font-size: 20px;
}