@import "./palette.css";

.sidebarContainer {
    width: 20vw;
    height: 100vh;
    background-color: var(--dark-grey);
    border-right: 1px solid #707070;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    z-index: 1000000;
    position: fixed;
    top: 0;
}

.sidebarContainer.collapsed {
    left: -20vw;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.sidebarContainer .list {
    list-style-type: none;
    padding-left: 0;
}

.sidebarContainer .item {
    width: 100%;
    height: 5rem;
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 1px solid #707070;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.sidebarContainer .item.active {
    background-color: var(--light-green);
}

.sidebarContainer .item.active .link {
    color: var(--white);
}

.sidebarContainer .item:hover {
    background-color: var(--light-green);
    transition: background-color 0.3s ease-in-out;
}

.sidebarContainer .item .link {
    display: flex;
    align-items: center;
    padding-left: 10%;
    width: 100%;
    height: 100%;
    color: var(--light-green);
    transition: color 0.3s ease-in-out;
}

.sidebarContainer .item:hover .link {
    color: var(--white);
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.sidebarContainer .topItem {
    display: flex;
    align-items: center;
    padding-left: 10%;
    width: 100%;
    height: 100%;
    height: 4rem;
    padding-left: 3%;
    border: none;
}

.sidebarContainer .topItem:hover {
    background-color: var(--dark-grey);
    cursor: default;
}

.sidebarContainer .topItem .leftArrow {
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}

.sidebarContainer .item:nth-of-type(1) {
    border-top: 1px solid #707070;
}