.table {
    align-self: flex-start;
}

.headerContainer {
    border-bottom: 1px solid var(--light-green);
}

.header {
    color: var(--light-green);
    font-weight: 100;
}

.row {
    color: var(--white);
}

.row:hover {
    color: var(--light-green) !important;
    cursor: pointer;
}

.errorRow {
    color: var(--red);
}

.errorRow:hover {
    color: var(--red) !important;
    cursor: pointer;
}